{{ include('header.twig') }}

{% if cid %}
    <input type=hidden name=cid value={{ cid }}>
{% endif %}

{% block content %}
{% if name is not empty %}

<div class="container">
<h3>Approved Claims for attestation {{ attestation }}</h3>
{% for claim in claims %}
<div class="idcard approved">
<a href="/complete.php?cid={{ claim['claim_id'] }}">{{ claim['name'] }}</a><br>
<div class="evidence">
proved at {{ claim['proved_at'] }}<br>
via {{ claim['source'] }}
{% if claim['ra'] %}<br>
approved by {{ claim['ra'] }}<br>
on {{ claim['approved_at'] }}
{% endif %}<br>
{% for k,v in claim['card'] %}
{{ k }}: {{ v }}<br>
{% endfor %}
</div>
</div>
{% endfor %}
</div>

{% endif %}

{% endblock %}

{{ include('footer.twig') }}
