{% extends 'index.twig' %}

{% block content %}
<h3>Claim {{ type }} via {{ id }}</h3>
Unlocks the following Attestations:<br><br>
{% for attestation in attestations %}
    <div class="attestation">
    {{ attestation['name'] }}
    </div>
{% endfor %}
{% if evidence %}
    <input type=hidden name=aid value={{ aid }}>
    <p>Found evidence:<br>
    Acquired from {{ source }}<br>
    On: {{ proved_at }}<br>
    {% if claim['approved_by'] %}
        Approved by {{ claim['uid'] }} at {{ claim['approved_at'] }}<br>
        {% if claim['approved_with']['in_person'] %} with in_person<br>{% endif %}
    {% endif %}
    <p><input type=submit name=action value=retract> <input type=submit name=action value=start> evidence</p>
    <table>
    {% for k, vs in evidence %}
    <tr valign=top><td><b>{{ k }}</b></td><td>{% for v in vs %}{% if not v is iterable %}{{ v }}{% endif %}<br>{% endfor %}</td></tr>
    {% endfor %}
    </table>
{% else %}
    {% if start %}
        <p>Attestation completed</p>
    {% else %}
        <p><input type=submit name=action value=start> claim</p>
    {% endif %}
{% endif %}
{% endblock %}
