{% extends 'index.twig' %}

{% block proof %}
<h3>Attestation {{ type }} via {{ id }}</h3>
{% if proof %}
    <p>Found proof:<br>
    Acquired from {{ source }}<br>
    On: {{ date }}
    <p><input type=submit name=action value=retract> proof</p>
    <table>
    {% for k, vs in proof %}
    <tr valign=top><td><b>{{ k }}</b></td><td>{% for v in vs %}{% if not v is iterable %}{{ v }}{% endif %}<br>{% endfor %}</td></tr>
    {% endfor %}
    </table>
{% else %}
    {% if start %}
        <p>Attestation completed</p>
    {% else %}
        <p><input type=submit name=action value=start> attestation</p>
    {% endif %}
{% endif %}
{% endblock %}

{% block open %}
{% endblock %}

{% block completed %}
{% endblock %}
