{{ include('header.twig') }}

{% if cid %}
    <input type=hidden name=cid value={{ cid }}>
{% endif %}

{% block content %}
<div class="container">
<h2>Applicant vetting</h2>
Fulfil  all the listed attestations to complete the identity vetting process. Select
a claim that will support your attestation and follow the steps indicated to complete it.
Completed claims are notified to your RA and once verified will be approved. Once all
claims necessary for the attestation are approved the attestation is fulfilled. Repeat
for all attestations. <b>Click an attestation to begin</b>.
</div>

{% if name is not empty %}

<div class="container">
<h3>Undeclared Attestations</h3>
{% for attestation in locked %}
    <div class="attestation open">
    <a href="attestation.php?aid={{ attestation['attestation_id'] }}">{{ attestation['name'] }}</a>
    <div style="float: right;" class="claims">
    {% for claim_id, claim in attclaims[attestation['attestation_id']] %}
    {% if claim_id not in approved|keys %}<a href="/complete.php?cid={{ claim_id }}">{{ claim }}</a><br>{% endif %}
    {% endfor %}
    </div>
    </div>
{% endfor %}
</div>


<div class="container">
<h3>Presented Claims</h3>
{% for claim in completed %}
<div class="idcard completed">
<a href="/complete.php?cid={{ claim['claim_id'] }}">{{ claim['name'] }}</a><br>
<div class="evidence">
proved at {{ claim['proved_at'] }}<br>
via {{ claim['source'] }}
{% if claim['ra'] %}<br>
approved by {{ claim['ra'] }}<br>
on {{ claim['approved_at'] }}
{% endif %}<br>
{% for k,v in claim['card'] %}
{{ k }}: {{ v }}<br>
{% endfor %}
</div>
</div>
{% endfor %}
</div>

<div class="container">
<h3>Approved Claims</h3>
{% for claim in approved %}
<div class="idcard approved">
<a href="/complete.php?cid={{ claim['claim_id'] }}">{{ claim['name'] }}</a><br>
<div class="evidence">
proved at {{ claim['proved_at'] }}<br>
via {{ claim['source'] }}
{% if claim['ra'] %}<br>
approved by {{ claim['ra'] }}<br>
on {{ claim['approved_at'] }}
{% endif %}<br>
{% for k,v in claim['card'] %}
{{ k }}: {{ v }}<br>
{% endfor %}
</div>
</div>
{% endfor %}
</div>

<div class="container">
<h3>Received Attestations</h3>
{% for attestation in unlocked %}
    <div class="attestation">
    <a href="attestation.php?aid={{ attestation['attestation_id'] }}">{{ attestation['name'] }}</a>
    <div style="float: right;" class="claims">
    {% for claim_id, claim in attclaims[attestation['attestation_id']] %}
    {% if claim_id in approved|keys %}<a href="/complete.php?cid={{ claim_id }}">{{ claim }}</a><br>{% endif %}
    {% endfor %}
    </div>
    </div>
{% endfor %}
</div>

{% if 0 %}
<div class="container">
<h3>Open Claims</h3>
{% for claim in open %}
<div class="idcard open">
<a href="/complete.php?cid={{ claim['claim_id'] }}">{{ claim['name'] }}</a><br>
</div>
{% endfor %}
</div>

{% endif %}

{% endif %}

{% endblock %}

{{ include('footer.twig') }}
