{% extends 'index.twig' %}

{% block proof %}
    <h3>Proof of {{ attestation['attestation_name'] }} for {{ attestation['for_user'] }}</h3>
    Acquired from {{ attestation['source'] }}<br>
    {% if attestation['approved_by'] %}
        Approved by {{ attestation['by_user'] }} at {{ attestation['approved_at'] }} for {{ attestation['for_user'] }}<br>
        <p><input type=submit name=action value=disapprove> attestation</p>
    {% else %}
        <p><input type=submit name=action value=approve> attestation</p>
    {% endif %}
    <table>
    {% for k, vs in attestation['proof'] %}
    <tr valign=top><td><b>{{ k }}</b></td><td>{% for v in vs %}{% if not v is iterable %}{{ v }}{% endif %}<br>{% endfor %}</td></tr>
    {% endfor %}
    </table>
{% endblock %}

{% block approved %}
{% endblock %}

{% block unapproved %}
{% endblock %}

