{% extends 'index.twig' %}

{% block content %}
    <h3>Evidence of {{ claim['claim_name'] }} for {{ claim['for_user'] }}</h3>
    Acquired from {{ claim['source'] }}<br>
    Unlocks the following Attestations:<br><br>
    {% for attestation in attestations %}
        <div class="attestation">
        {{ attestation['name'] }}
        </div>
    {% endfor %}
    {% if claim['approved_by'] %}
        <p>Approved by {{ claim['by_user'] }} at {{ claim['approved_at'] }} for {{ claim['for_user'] }}</p>
        {% if claim['approved_with']['in_person'] %} with in_person {% endif %}<br>
        <p><input type=submit name=action value=disapprove> claim</p>
    {% else %}
        <p><input type=checkbox name=with[in_person] value=1> in person</p>
        <p><input type=submit name=action value=approve> assertion</p>
    {% endif %}
    <table>
    {% for k, vs in claim['evidence'] %}
    <tr valign=top><td><b>{{ k }}</b></td><td>{% for v in vs %}{% if not v is iterable %}{{ v }}{% endif %}<br>{% endfor %}</td></tr>
    {% endfor %}
    </table>
{% endblock %}

